<div class="container-scroller">
    <app-navbar [active]="page"></app-navbar>
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel" style="width: 100%;">
            <div class="content-wrapper">

                <div class="bg-light">
                    <div class="container py-5">
                        <div class="row h-100 align-items-center py-5">
                            <div class="col-lg-6">
                                <h1 class="display-4">Contact</h1>
                                <p class="lead text-muted mb-0">Phone No - +919876543210</p>
                                <p class="lead text-muted mb-0">E-Mail - hello@example.com</p>
                            </div>
                            <div class="col-lg-6 d-none d-lg-block">
                                <img src="./../../assets/images/myimages/illus_kftyh4.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>